.mainbody {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.Layout_header {
    width: 100%;
    max-width: 100%;
    height: 100px;
    background-color: Yellow;
}

.Layout_Mainblock {
    float: left;
    max-width: 70%;
    /* height: 400px; */
    background-color: darkcyan;
}

.Layout_Sideblock {
    float: left;
    max-width: 30%;
    /* height: 400px; */
    background-color: cadetblue;
}


/* .Layout_Iconarea { */

.iconbox {
    float: left;
    border: 6px solid #ddeaff;
    border-radius: 4px;
    background-color: white;
    padding: 10px 5px 5px 5px;
}

hr {
    margin-left: 10px;
    margin-right: 10px;
    border: solid;
    border-color: rgb(221, 234, 255);
}

.icon {
    margin: 2px 5px 0px 5px;
}

.sidebox {
    float: left;
    max-width: 100%;
    padding: 3px 5px 5px 5px;
}

a {
    font-size: 11px;
    font-family: verdana, arial, helvetica, sans-serif;
}

textarea {
    /* margin: 0px; */
    width: 270px;
    max-width: 270px;
    height: 120px;
    min-height: 20px;
}